In [11]:
library(lm.beta)

In [12]:
a <- read.csv('csv/ques.csv')

In [14]:
items <- c('남','여')
a$문1 <- as.factor(a$문1)
levels(a$문1) <- items
b <- table(a$문1)
b

남 여
11  9

In [16]:
b / sum(b) * 100

남 여
55 45