<a href="https://colab.research.google.com/github/SJinLee/BasicStats/blob/main/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
install.packages('lm.beta')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘xtable’

In [3]:
library(lm.beta)

In [4]:
a <- read.csv('csv/ques.csv')

In [5]:
colnames(a)

[1] "연번" "문1"  "문2"  "문3"  "문4"  "문5"

In [6]:
str(a)

'data.frame':	20 obs. of  6 variables:
 $ 연번: int  1 2 3 4 5 6 7 8 9 10 ...
 $ 문1 : int  2 1 1 2 2 2 1 1 1 1 ...
 $ 문2 : int  2 2 3 1 4 4 3 2 3 4 ...
 $ 문3 : int  1 2 1 3 2 1 3 4 3 1 ...
 $ 문4 : int  2 1 2 3 4 2 3 2 2 3 ...
 $ 문5 : int  3 4 3 2 5 4 3 1 2 5 ...

* "문1"을 factor type으로 변환하고 level을 '남', '여'로 설정

In [7]:
items <- c('남','여')
a$문1 <- as.factor(a$문1)
levels(a$문1) <- items

* 문1의 돗수

In [8]:
b <- table(a$문1)
b

남 여
11  9

* 문1의 비율(%)

In [9]:
b / sum(b) * 100

남 여
55 45

* 회귀분석

In [10]:
library(lm.beta)

In [13]:
df <- read.csv('csv/salary.csv')

In [14]:
str(df)

'data.frame':	10 obs. of  4 variables:
 $ 구분          : int  1 2 3 4 5 6 7 8 9 10
 $ 월.지출.만.원.: int  50 53 60 61 65 68 70 72 72 75
 $ 월급.만.원.   : int  82 85 88 90 95 98 101 105 108 112
 $ 재산.만.원.   : int  1600 1620 1660 1700 1750 1770 1810 1820 1850 1880

In [15]:
colnames(df)

[1] "구분"           "월.지출.만.원." "월급.만.원."    "재산.만.원."

* 독립변수: 월급
* 종속변수: 월 지출

In [16]:
result <- lm.beta(lm('월.지출.만.원.~월급.만.원.',df))

In [17]:
summary(result)

Call:
lm(formula = "월.지출.만.원.~월급.만.원.", data = df)

Residuals:
   Min     1Q Median     3Q    Max
-3.010 -2.101  1.003  1.661  2.161

Coefficients:
             Estimate Standardized Std. Error t value Pr(>|t|)
(Intercept) -12.98618           NA    7.14523  -1.817    0.107
월급.만.원.   0.80484      0.96801    0.07375  10.912 4.41e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.245 on 8 degrees of freedom
Multiple R-squared:  0.937,	Adjusted R-squared:  0.9292
F-statistic: 119.1 on 1 and 8 DF,  p-value: 4.407e-06

* 오차

In [18]:
error <- df[['월.지출.만.원.']] - df[['월급.만.원.']] * result$coefficients[2] - result$coefficients[1]
error

 [1] -3.0103627 -2.4248705  2.1606218  1.5509499  1.5267703  2.1122625
 [7]  1.6977547  0.4784111 -1.9360967 -2.1554404

* 분산

In [19]:
x <- df[['월급.만.원.']]

In [20]:
sum((x-mean(x))^2)/9

[1] 102.9333

In [21]:
var(x)

[1] 102.9333

* 월급의 계수의 표준오차

In [22]:
sqrt(sum(error^2)/8/sum((x-mean(x))^2))

[1] 0.07375398

* Intercept의 표준오차

In [23]:
sqrt(sum(error^2)/8) * sqrt(1/9+mean(x)^2/sum((x-mean(x))^2))

[1] 7.149152